<div class="bg-white container rounded my-5 py-3">
    <form>        
        <mat-form-field class="w-100">
            <h2><input matInput placeholder="Recipe title"></h2>
        </mat-form-field>
        <mat-form-field class="w-100">
            <textarea matInput placeholder="A brief description of the recipe"></textarea>
        </mat-form-field>
        <img *ngIf="this.imageLocation != ''" class="img-thumbnail" [src]="this.imageLocation" style="max-height:300px">
        <mat-form-field class="w-100">
            <input type="url" matInput placeholder="url for the recipe's main image" [(ngModel)]="this.imageLocation"
                name="imageloc">
        </mat-form-field>
        &nbsp;
        <p for="" style="color:grey">Ingredients</p>
        <app-recipie-ingredient *ngFor="let i of this.ingredients"></app-recipie-ingredient>
        <button type="button" class="btn btn-primary m-1" (click)="this.ingredients.push('a')">
            Add Ingredient
        </button>     
    </form>
</div>