<div class="bg-white container rounded my-5 py-3">
    <mat-vertical-stepper [linear]="this.linear" (selectionChange)="this.onStepperChange($event)">
        <mat-step [stepControl]="recipeForm">
            <form [formGroup]="recipeForm">
                <ng-template matStepLabel>General Information</ng-template>
                <mat-form-field class="w-100">
                    <h2>
                        <input matInput formControlName="title" placeholder="Recipe title" required>
                    </h2>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <textarea 
                        matInput 
                        formControlName="description"
                        placeholder="A brief description of the recipe"
                        required>
                    </textarea>
                </mat-form-field>
                <img *ngIf="this.imageLocation != ''" class="img-thumbnail" [src]="this.imageLocation" style="max-height:300px">
                <mat-form-field class="w-100">
                    <input type="url" 
                        matInput 
                        placeholder="url for the recipe's main image" 
                        formControlName="img"
                        name="imageloc">
                </mat-form-field>
                <button mat-button type="submit" matStepperNext class="float-right">Choose ingredients
                    <fa-icon [icon]="faArrowRight"></fa-icon>
                </button>
            </form>
        </mat-step>
        <mat-step [stepControl]="ingredientsForm">
            <form [formGroup]="ingredientsForm">
                <ng-template matStepLabel>Ingredients</ng-template>
               <!--  <app-recipie-ingredient 
                    *ngFor="let i of this.ingredients"
                    [ingredientDeleted]="this.ingredientDeleted"
                    [recipeIngredient]="i">
                </app-recipie-ingredient> -->
               
                <div formArrayName="children">
                    <app-recipe-ingredient                        
                        *ngFor="let child of this.ingredientsForm.controls['children'].controls; let i = index"
                        [ingredientDeleted] = "this.ingredientDeleted"
                        [formControlName]="i">
                    </app-recipe-ingredient>
                    <button mat-button (click)="this.onAddIngredient()" type="button" class="m-1">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        &nbsp;Add ingredient</button>
                    <button mat-button type="submit" matStepperNext class="float-right m-1">Describe steps involved &nbsp;
                         <fa-icon [icon]="faArrowRight"></fa-icon>
                    </button>
                </div>
                
               
            </form>
        </mat-step>
        <mat-step [stepControl]="stepsForm">
            <form [formGroup]="stepsForm" (ngSubmit)="this.createRecipe()">
                <ng-template matStepLabel>Steps</ng-template>
                <div formArrayName="children">
                    <app-recipie-step
                    *ngFor="let child of this.stepsForm.controls['children'].controls; let i = index"
                    [stepDeleted]="this.stepDeleted"
                    [formControlName]="i">                        
                    </app-recipie-step>
                    <button mat-button type="button" class="m-1" (click)="this.onAddStep()">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        &nbsp;Add Step
                    </button>
                    <button mat-button type="submit" matStepperNext class="float-right m-1">Contribute recipe &nbsp;
                        <fa-icon [icon]="faSave"></fa-icon>
                    </button>        
                </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>
</div>