<div class="container" style="height: 100%;">
    <div style="min-height:15%"></div>
    <div class="row">
        <div class="col-md-7 col-lg-5">
            <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
                <mat-form-field class="w-100">
                    <input matInput type="text" class="w-100" placeholder="username" id="usr" name="usr"
                        formControlName="usr" (onchange)="this.errorMessage=''">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="!this.signupForm.get('usr').valid && this.signupForm.get('usr').touched">
                        {{ this.formValidators.getErrorForControl('usr', signupForm) }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="text" class="w-100" placeholder="example@example.com" id="email" name="email"
                        formControlName="email" (onchange)="this.errorMessage=''">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error class="form-control form-control-sm text-white bg-transparent" *ngIf="!this.signupForm.get('email').valid && this.signupForm.get('email').touched">
                        {{ this.formValidators.getErrorForControl('email', signupForm) }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="password" class="w-100" placeholder="Password" id="pwd" name="password"
                        formControlName="password">
                    <mat-icon matSuffix>lock_open</mat-icon>
                    <mat-error *ngIf="!this.signupForm.get('password').valid && this.signupForm.get('password').touched">
                        {{ this.formValidators.getErrorForControl('password', signupForm) }} </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="password" class="w-100" placeholder="Confirm password" id="cnfPwd" name="confirmPassword"
                        formControlName="confirmPassword">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error *ngIf="!this.signupForm.get('confirmPassword').valid && this.signupForm.get('confirmPassword').touched">
                        {{ this.formValidators.getErrorForControl('confirmPassword', signupForm) }}</mat-error>
                </mat-form-field>
                <div class="row">
                    <div class="col-sm-5 mb-3">
                        <button mat-raised-button type="button" class="w-100" [routerLink]="['/logon']">Login</button>
                    </div>
                    <div class="col-sm-7 mb-3">
                        <button mat-raised-button color="primary" type="submit" [disabled]="!this.signupForm.valid && !this.signingUp"
                            class="w-100">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>