<mat-accordion>
      <mat-expansion-panel *ngFor="let recipe of this.recipeList">
            <mat-expansion-panel-header collapsedHeight="110px" expandedHeight="110px">
                  <div class="d-flex flex-row w-100">
                        <img class="img-fluid align-self-center" style="width:110px" 
                              *ngIf="this.imageExists(this.recipe)"
                              [src]="this.getImageSrc(this.recipe)">
                        <div class="mx-2 d-flex flex-column w-75">
                              <strong>{{ this.recipe.Recipe.Title }}</strong>
                              <div class="d-flex flex-column-reverse h-100">
                                    <div class="d-flex flex-row">
                                          <a class="btn btn-sm btn-outline-dark" (click)="this.onAnchorClick($event)"
                                                [routerLink]="['/recipes',this.recipe.Recipe.ID]">
                                                <span>
                                                      <fa-icon [icon]="faHeart"></fa-icon> {{
                                                      this.recipe.UserRecipeBookMarks }}
                                                </span> &nbsp;
                                                <span>
                                                      <fa-icon [icon]="faComment"></fa-icon> {{
                                                      this.recipe.UserRecipeComments }}
                                                </span>
                                          </a>
                                    </div>
                              </div>
                        </div>
                        <div class="w-25 text-right">
                              by {{ this.recipe.Recipe.CreatedByUser }}
                        </div>
                  </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                  <app-recipie-detail [recipe]="this.recipe"></app-recipie-detail>
            </ng-template>
      </mat-expansion-panel>
</mat-accordion>