<mat-accordion>
    <mat-expansion-panel *ngFor="let recipe of this.recipeList">
        <mat-expansion-panel-header collapsedHeight="75px" expandedHeight="75px">
            <mat-panel-title>
             <strong>{{ this.recipe.Recipe.Title }}</strong>
            </mat-panel-title>
            <mat-panel-description>
                <p>{{ this.recipe.Recipe.Description | slice : 0 : this.briefDescMaxChars }}..</p>                
            </mat-panel-description>
            <p class="float-right">Rating : N/A</p>
          </mat-expansion-panel-header>
          <app-recipie-detail [recipe]="this.recipe"></app-recipie-detail>
    </mat-expansion-panel>
</mat-accordion>

<!-- <mat-list>
    <mat-list-item *ngFor="let recipe of this.recipeList">
        <img *ngIf="recipe.ImageLocation" matListAvatar [src]="recipe.ImageLocation">
        <h3 matLine>{{ recipe.Recipe.Title }}</h3>
        <p matLine> {{ recipe.Recipe.Description }} </p>
    </mat-list-item>
</mat-list> -->