<mat-card class="mb-1">
    <div class="row">
        <div class="col-sm-5">
            <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Ingredient">
            </mat-form-field>
        </div>
        <div class="col-sm-5">
            <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Measurement">
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Units">
            </mat-form-field>
        </div>
    </div>
</mat-card>