<form ngForm #f="ngForm" *ngIf="this.authService.isAuthorized" (ngSubmit)="this.postComment()">
    <mat-form-field 
    class="w-100" >
    <textarea matInput placeholder="feel free to leave a comment" required name="comment" ngModel
    ></textarea>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Post comment</button>
</form>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    User Comments
  </mat-expansion-panel-header>
  <mat-card *ngFor="let comment of this.comments">
      <mat-card-header>
        <mat-card-title>
          {{this.comment.userName}}
        </mat-card-title>
        <mat-card-subtitle>
          {{this.comment.commentedOn | date}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{this.comment.comment}}
      </mat-card-content>
    </mat-card>
</mat-expansion-panel>
